body{
    font-family: 'Roboto', sans-serif;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc-container {
    background-color: black;
    width: 400px;
    height: 650px;
    border: 2px solid #404040;
    border-radius: 10px;
    padding: 30px;
}

#numberDisplay {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word; /* makes number wrap if too long */
    word-break: break-all;
}

#numberDisplay .previous-operand {
    color: rgba(2555, 255, 255, .75);
    font-size: 1.5rem;
}

#numberDisplay .current-operand {
    color: rgba(2555, 255, 255);
    font-size: 2.5rem;
}

#calc-container {
    display: grid;
    /* padding: 10px; */
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    outline: none;
}

.double {
    grid-column: span 2;
}

#calc-container > button {
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    background-color: darkslategrey;
    color: white;
}

.light-grey {
    background-color: grey !important;
}

.orange {
    background-color: orange !important;
}

#calc-container > button:hover {
    filter: brightness(150%);
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #404040;
    color: white;
    padding: 1em;
    text-align: center;
}